@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap');
#content {
        max-width: 1600px;
        margin: 0 auto; 
        text-align: center;
}
ul, li {
    list-style-type: none;
    background-color: #A4C3B2;
}
.navi-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.navi-list li:not(.centered-logo) {
    flex: 1 0 auto;
    text-align: center;
    font-family: "'Architects Daughter', 'Indie Flower', 'fantasy'";
    font-size: 25px;
}
.logo {
     padding: 10px;
     width: 200px;
}
nav a:hover {
    color: #EAF4F4;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
p {
    margin: 50px;
    text-align: left;
    text-indent: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
h2 {
    text-align: center;
    color: #6B9080;
    font-family: "'Architects Daughter', 'Indie Flower', 'fantasy'";
    font-size: 1.8em;
}
h3 {
    text-align: center;
    color: #6B9080;
    font-family: "'Architects Daughter', 'Indie Flower', 'fantasy'";
    font-size: 2.5em;
}
.cat-img {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid #A4C3B2;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    align-items: center;
}
footer {
    background-color: #A4C3B2;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: black;
    text-decoration: none;
}
:root {
    --primary-color: #A4C3B2  ;
    --secondary-color: #CCE3DE ;
    --accent1-color: #6B9080;
    --accent2-color: #EAF4F4;
    --heading-font: "'Architects Daughter', 'Indie Flower', 'fantasy'";
    --paragraph-font: Georgia, 'Times New Roman', Times, serif;
}
