@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap');
#content {
        max-width: 1600px;
        margin: 0 auto; 
        text-align: center;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: white;
    color: #A5A58D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 1;
}
h2 {
    margin: 0;
}
header {
    background-color: #6B705C;
    color: white;
}
nav a:hover {
    background-color: #6B705C;
    color: white;
}
.book, .join {
    background-color: #B7B7A4;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #6B705C;
    color: white;
}
#background {
    background-color: #6B705C;
    color: black;
}
.msg {
    background-color: #6B705C;
    color: white;
    font-family: Architects Daughter, Indie Flower, fantasy;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #6B705C;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
#background {
    height: 725px;
}
.home-title {
    color: black;
    font-family: Architects Daughter, Indie Flower, fantasy;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.logo {
    width: 275px;
}
#hero-img {
    width: 1000px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #B7B7A4;
}
main section img {
    box-sizing: border-box;
}